<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(
                                                                                titrePage=~{:: title},
                                                                                contenuPage=~{:: .center-main},
                                                                                ressourcesSupp=~{}
                                                                                )}">
    <head>
        <!--Accueil comme titre de page-->
        <title>Accueil</title>
    </head>
    <body>
    <main class="center-main">
        <section class="center-section">
            <h1 style="text-align: center;">Bienvenue à une formation ENI école</h1>
            <h2 style="text-align: center;"> Vous utilisez l'application de démo</h2>
        </section>
    </main>
    </body>
</html>