<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(
                                                            titrePage=~{:: title},
                                                            contenuPage=~{:: main},
                                                            ressourcesSupp=~{:: #ressources-css}
                                                            )}">
<head>
    <title>Créer</title>
    <th:block id="ressources-css">
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}">
        <link rel="stylesheet" data-th-href="@{/css/demo-error.css}">
    </th:block>
</head>
<body>
<main> <!-- Placement des 2 formulaires en fragments sur cette page -->
    <div data-th-replace="~{fragments/fragment-formateur-detail ::
    frag-formateur-form('/formateurs/creer', 'Création du formateur',
    ~{fragments/fragment-liste-cours-form :: frag-liste-cours})}"></div>
</main>
</body>
</html>